/**{
    background-color:darkcyan;
}*/
h1 {
    color:blue;
}

p{color: red;}

#chosen{
    font-style: italic;
}

.underline{
    text-decoration: underline;
}
div p {
    border: 1px solid black;
}

p:hover {
    transform: rotate(180deg);
}